{% extends 'base.html' %}

{%block content%}
<h1 class = 'ml-3 mt-3 mb-5'>{{user.firstname}}'s Profile Page</h1>

<div class = 'container'>
    <div class = 'row text-center'>
        <div class = 'col-12'>
            <!-- User's full name -->
            <h2 class = 'mb-5'>
                {{user.fullname()}}'s Products
            </h2>
            <!-- User's listed products, if any -->
            {% for product in products %}
            <div class = "mb-5">
                {% if product.decode_image() %}
                <img src="data:image/jpeg;base64,{{ product.decode_image() }}" alt="{{ product.name }}"><br></br>
                <a class = 'btn btn-primary' href = '/product/{{product.productid}}'>{{product.productname}}</a><span class = "badge ml-3"> Price: ${{product.price}}.00</span>
                {% endif %}        
            </div>
            {%endfor%} 

        </div>
    </div>
</div>

{%endblock%}